<<<<<<< HEAD
body {
  font-family: 'Lato', sans-serif;
  border: 30px solid #FB6446;
  padding: 2%
}

.link-in-nav {
  color: black
}

.button-in-search {
  border-radius: 100px;
  width: 5%;
}

.stats-for-hotel, .stats-for-hotel-stars {
  opacity: 0.8;
}

.stats-for-hotel-stars {
  background-color: pink;
  color: red;
}

.more-hotels {
  margin-bottom: 5px
}

.name-of-hotel {
  font-weight: 900
}

.main-without-search {
  background-color: #F7F7FB;
  border-radius: 30px;
  border: 10px solid #F7F7FB;
  border-top: 25px solid #F7F7FB;
=======
body {
  font-family: 'Lato', sans-serif;
  border: 30px solid #FB6446;
  padding: 2%
}

.link-in-nav {
  color: black
}

.button-in-search {
  border-radius: 100px;
  width: 5%;
}

.stats-for-hotel, .stats-for-hotel-stars {
  opacity: 0.8;
}

.stats-for-hotel-stars {
  background-color: pink;
  color: red;
}

.more-hotels {
  margin-bottom: 5px
}

.name-of-hotel {
  font-weight: 900
}

.main-without-search {
  background-color: #F7F7FB;
  border-radius: 30px;
  border: 10px solid #F7F7FB;
  border-top: 25px solid #F7F7FB;
>>>>>>> update
}