.button-action {
  width: 23%;
  margin: 0.5%
}

.buttons-block {
  outline: 5px solid grey;
  width: 31.3%
}

.input {
  margin-top: 6.8%;
  margin-bottom: 3%;
  width: 31.2%;
  height: 45px;
  font-size: 20px;
  outline: 5px solid grey
}

.input-last-activities1, .input-last-activities2, .input-last-activities3 {
  margin-top: 2%;
  height: 45px;
  font-size: 20px
}

body {
  font-family: 'Calistoga', cursive;
  background-color: #f2f4ffb8
}

.last-activities {
  font-size: 20px;
}