<<<<<<< HEAD
.basket {
  width: 600px;
  height: 600px;
  border: 10px solid black;
  margin: 3%
=======
.basket {
  width: 600px;
  height: 600px;
  border: 10px solid black;
  margin: 3%
>>>>>>> smth
}